.list {
  width: 100%;
  border: 1px solid #DDD;
  outline: none !important;

  .row {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2%;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    text-align: center;

    transition: all 0.5s;
    cursor: pointer;
    position: relative;

    &:hover {
      padding-right: 24px;
      padding-left: 8px;
      background-color: lightgrey;
    }

    &:after {
      content: '»';
      position: absolute;
      opacity: 0;
      top: 22%;
      right: -20px;
      transition: 0.5s;
    }

    &:hover:after {
      opacity: 1;
      right: 5%;
    }

  }

  .letter {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 40px;
    color: white;
    font-size: 1.5em;
    margin-right: 25px;
  }

  .bold{
    font-weight: bold;
  }

}
