.title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.8em;
}

.lastUpdatePosition {
  padding-top: 3%;
}

.labelLastUpdate {
  font-weight: bold;
  margin-left: 2%;
}

.iconButtons {
  vertical-align: text-bottom !important;
}

.spaceBetweenRowsInfo{
  margin-top: 2%;
}

.buttonsDetailsCard {
  width: 32vw;
  padding-right: 10%;
}

.spaceBeetweenButtonsDetailCard {
  margin-left: 4%;
  width: 6vw;
  float: right;
}

.attachmentsContainer {
  display: inline-block;
  text-align: center;
  position: relative;
}

.buttonClickable:hover {
  cursor: pointer;
}

.buttonPlusAttachment {
  text-align: center;
  font-size: 2.2em;
}

.labelButtonAction {
  font-weight: bold;
  text-transform: uppercase;
}

.spaceBetweenAmountButton {
  margin-top: 3%;
}

.amountDiv {
  font-size: 1.3em;
  text-align: center;
}

.amountLabel {
  color: #1890ff;
  font-weight: bold;
}
