.typeTextDescription {
  font-weight: bold;
}

.autoApprovalDiv {
  margin-top: 5%;
  font-weight: bold;
  color: #1890ff;
}

.switchPosition {
  margin-left: 4%;
}

.textAutoapprovalEnabled {
  color: darkred;
  font-weight: bold;
  font-size: 0.5em;
}

.amount {
  font-weight: bold;
  color: #1890ff;
}

.iconButtons {
  vertical-align: text-bottom !important;
}

.buttonSizeVariable {
  width: 100%;
}
