.title_dashboard {
  text-align: left;
  height: 5%;
  line-height: 5%;
  cursor: pointer;
  margin-bottom: 3%;

  span {
    vertical-align: text-bottom;
    font-size: 1.5em;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
  }
}

.spaceBelowCards {
  margin-bottom: 3%;
}
