.tile {
  padding: 5px;
}

.spaceBetweenFiltersTable {
  padding-top: 1%;
  padding-bottom: 1%;
}

.clickable {
  cursor: pointer;
}

.approbationCircuit {
  padding-bottom: 3%;
}

.centerNeedApprovalLabel {
  text-align: center;
}

.needApprovalOnDividerPopOver {
  margin-top: 0.5% !important;
}

.labelSwitch {
  padding-right: 4%;
}

.labelLastUpdate {
  font-weight: bold;
  margin-left: 2%;
}

.iconButtonCreate {
  vertical-align: text-bottom !important;
}
